.card-container {
    background-image: url('../../../assets/waves.svg') !important;
    background-color: #1E1E1E !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}